<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <h4>Información</h4>
    <div>
      <label><strong>Película:</strong></label> {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>Género:</strong></label>
      {{ currentTutorial.description }}
    </div>
    <div>
      <label><strong>Estado:</strong></label>
      {{ currentTutorial.published ? "Solo en cines o plataformas" : "Próximamente" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/tutorials/{{ currentTutorial.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Por favor de clic en una Película..</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Actualizacón de Información</h4>
    <form>
      <div class="form-group">
        <label for="title">Película</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Género</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Estado:</strong></label>
        {{ currentTutorial.published ? "Solo en cines o plataformas" : "Próximamente" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
      Próximamente
    </button>
    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Solo en cines o en plataformas
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Borrar
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Actualizar
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>No es posible accesar a la película..</p>
  </div>
</ng-template>
